.addons-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
	max-height: 500px;
	overflow: hidden;
	transition: max-height 0.5s ease, opacity 0.3s ease;
}

.addon-checkbox {
	float: left;
	margin: 8px !important;
	appearance: none;
    pointer-events: none; 
	width: 16px;
	height: 16px;
	border-radius: 6px;
	border: 2px solid #c3cfe2;
	margin-right: 10px;
	position: relative;
	cursor: pointer;
	transition: all 0.2s ease;
}

.modal-body {
    overflow-x: hidden; /* disable horizontal scroll */
    overflow-y: auto;   /* allow vertical scroll if content exceeds */
}

.addon-card  {
	display: flex;
  	flex-direction: row;
  	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	font-size: 14px;
	line-height: 1.5;
}

.addon-card label,
.addon-card span,
.addon-card small {
    pointer-events: none;
}

.form-check.p-2 {
	padding: 2px !important;
}

.mx-auto {
	/* margin-right: unset !important; */
  	/* margin-left: unset !important; */
}

.form-check-input {  
  	/* appearance: auto; */
}

.addon-card > label.mt-2 {
	background: var(--light);
	text-align: left;
	margin-top: 0 !important;
	flex: 1;  
	padding-left: 9px;
}

input {
	font-size: large;
}

@media (max-width: 768px) {
	.addons-container {
		grid-template-columns: 1fr;
	}

}

.addon-title {
	border-bottom: 0 !important;
}

#addonOptions {
    max-height: 0; /* start collapsed */
    overflow: hidden;
    transition: max-height 0.3s ease;
}

#addonOptions:not(.collapsed) {
    max-height: 1000px; /* expanded */
}

#addon-toggle.collapsed {
    transform: rotate(-90deg);
    display: inline-block;
    transition: transform 0.3s ease;
}

#addon-toggle:not(.collapsed) {
    transform: rotate(0deg);
}
